Repository ansys/pyansys-heart, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, dependencies

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.flake8/', 'pyproject.toml']
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
dependencies:
- changed-files:
  - any-glob-to-any-file: 'pyproject.toml'

debug: try 24.1
  .github/workflows/tests-model-generation.yml
  tests/heart/preprocessor/test_pyfluent.py
Labels: maintenance

debug: try 0.18 icm 24.1
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  ansys/heart/preprocessor/mesh/mesher.py
  pyproject.toml
Labels: maintenance, dependencies

debug: try 0.16 icm 23.2
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  .github/workflows/tests-model-generation.yml
  ansys/heart/preprocessor/mesh/mesher.py
  pyproject.toml
  tests/heart/preprocessor/test_pyfluent.py
Labels: maintenance, dependencies

minor
  ansys/heart/postprocessor/auto_process.py
Labels: none

debug: try 0.20 icm 24.1
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  .github/workflows/tests-model-generation.yml
  pyproject.toml
  tests/heart/preprocessor/test_pyfluent.py
Labels: maintenance, dependencies

debug: remove docker tmp path
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

debug: host_mount_path
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

debug: host_mount_path
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

debug: docker workdir
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

debug: docker workdir
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

debug: docker
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

debug: docker
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

debug: docker
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

debug: docker
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  .github/workflows/tests-model-generation.yml
  ansys/heart/preprocessor/mesh/mesher.py
  pyproject.toml
Labels: maintenance, dependencies

debug: docker
  .github/workflows/tests-model-generation.yml
  tests/heart/preprocessor/test_pyfluent.py
Labels: maintenance

debug: docker
  pyproject.toml
Labels: maintenance, dependencies

fix import
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  .github/workflows/tests-model-generation.yml
Labels: maintenance

pip install docker
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  .github/workflows/tests-model-generation.yml
Labels: maintenance

fix docker sdk import
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  .github/workflows/tests-model-generation.yml
Labels: maintenance

debug
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

debug
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

debug
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

debug
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

minor
  ansys/heart/postprocessor/auto_process.py
Labels: none

fix
  ansys/heart/postprocessor/auto_process.py
  ansys/heart/writer/dynawriter.py
  tests/heart/end2end/batch_simulation.py
Labels: none

Rework control volume (#573)
  ansys/heart/calibration/ivc.py
  ansys/heart/postprocessor/SystemModelPost.py
  ansys/heart/postprocessor/auto_process.py
  ansys/heart/simulator/settings/defaults/mechanics.py
  ansys/heart/simulator/simulator.py
  ansys/heart/writer/dynawriter.py
  ansys/heart/writer/system_models.py
  tests/heart/end2end/batch_simulation.py
Labels: none

add posterior bundle
  ansys/heart/preprocessor/models/conduction_beam.py
  ansys/heart/simulator/simulator.py
  ansys/heart/writer/custom_dynalib_keywords/keywords/em_ep_isoch.py
  ansys/heart/writer/dynawriter.py
  examples/preprocessor_v0_2/doc_simulate_fullheart_rodero_01_v0_2_ep.py
Labels: none

refactor file name
  ansys/heart/postprocessor/auto_process.py
  ansys/heart/postprocessor/laplace_post.py
  ansys/heart/simulator/simulator.py
Labels: none

remove deprecated
  ansys/heart/postprocessor/deprecated_binout_helper.py
  ansys/heart/postprocessor/deprecated_compute_volume.py
Labels: none

refactor auto_zerop
  ansys/heart/postprocessor/auto_process.py
  ansys/heart/postprocessor/laplace_post.py
  ansys/heart/simulator/simulator.py
  tests/heart/postprocessor/test_zerop_post.py
Labels: none

remove unnecessary
  ansys/heart/writer/dynawriter.py
Labels: none
