Repository ansys/pyansys-heart, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, dependencies

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.flake8/', 'pyproject.toml']
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
dependencies:
- changed-files:
  - any-glob-to-any-file: 'pyproject.toml'

minor
  ansys/heart/writer/dynawriter.py
Labels: none

maint: update and clean simulator examples
  examples/simulator/doc_EP-mechanics_simulator_fullheart_rodero.py
  examples/simulator/doc_EP_simulator_FullHeart_rodero.py
  examples/simulator/doc_EP_simulator_fourchamber.py
  examples/simulator/doc_mechanics_simulator_fullheart_rodero_01.py
Labels: none

maint: remove obsolete example
  examples/preprocessor_v0_2/doc_simulate_fullheart_rodero_01_v0_2_ep.py
Labels: none

MAINT: clean up (#568)
  ansys/heart/postprocessor/exporter.py
  ansys/heart/preprocessor/mesh/connectivity.py
  ansys/heart/preprocessor/mesh/geodisc.py
  ansys/heart/preprocessor/mesh/mesher.py
  ansys/heart/preprocessor/mesh/objects.py
  ansys/heart/preprocessor/mesh/vtkmethods.py
  ansys/heart/preprocessor/models/v0_2/models.py
  tests/heart/test_logger.py
Labels: none

rework dpf license
  ansys/heart/postprocessor/dpf_utils.py
  examples/simulator/doc_EP-mechanics_simulator_fullheart_rodero.py
  examples/simulator/doc_EP_simulator_FullHeart_rodero.py
  examples/simulator/doc_EP_simulator_fourchamber.py
  examples/simulator/doc_mechanics_simulator_fullheart_rodero_01.py
Labels: none

Refact discret element (#555)
  ansys/heart/postprocessor/auto_process.py
  ansys/heart/postprocessor/dpf_utils.py
  ansys/heart/preprocessor/models/v0_1/models.py
  ansys/heart/writer/dynawriter.py
  examples/simulator/doc_EP-mechanics_simulator_fullheart_rodero.py
  examples/simulator/doc_EP_simulator_FullHeart_rodero.py
  examples/simulator/doc_EP_simulator_fourchamber.py
  examples/simulator/doc_mechanics_simulator_fullheart_rodero_01.py
  tests/heart/postprocessor/binout0000
  tests/heart/postprocessor/test_dpf.py
Labels: none

read v_ed from binout, not json
  ansys/heart/postprocessor/SystemModelPost.py
  ansys/heart/simulator/simulator.py
  ansys/heart/writer/dynawriter.py
Labels: none

use ConstrainedInterpolation
  ansys/heart/writer/dynawriter.py
Labels: none

always null material for valves
  ansys/heart/simulator/settings/defaults/mechanics.py
  ansys/heart/writer/dynawriter.py
Labels: none

minor
  ansys/heart/writer/dynawriter.py
Labels: none

add define flow area
  ansys/heart/writer/dynawriter.py
Labels: none

minor
  ansys/heart/writer/dynawriter.py
Labels: none

clean segment write method
  ansys/heart/writer/dynawriter.py
Labels: none

feat: add simple example of a LV model
  doc/source/_static/images/truncated_LV_mesh.png
  doc/source/_static/images/truncated_LV_mesh_input.png
  examples/preprocessor/doc_preprocess_truncated_LV.py
Labels: none

fix: style
  examples/preprocessor/doc_preprocess_truncated_LV.py
Labels: none

fix: style
  examples/preprocessor/doc_preprocess_truncated_LV.py
Labels: none

fix: minor changes to text
  examples/preprocessor/doc_preprocess_truncated_LV.py
Labels: none

fix: interpolation fgm
  ansys/heart/writer/dynawriter.py
Labels: none

MAINT: migrate examples from v0.1 to v0.2 (#571)
  ansys/heart/writer/dynawriter.py
  doc/source/_static/images/four_chamber_cavities.png
  doc/source/_static/images/four_chamber_lv_endocardium.png
  doc/source/_static/images/four_chamber_mesh.png
  doc/source/_static/images/full_heart_cavities.png
  doc/source/_static/images/full_heart_lv_endocardium.png
  doc/source/_static/images/full_heart_mesh.png
  doc/source/_static/images/truncated_LV_mesh.png
  doc/source/_static/images/truncated_LV_mesh_input.png
  examples/preprocessor/doc_example_atrial_fiber.py
  examples/preprocessor/doc_example_uhc.py
  examples/preprocessor/doc_preprocess_fourchamber.py
  examples/preprocessor/doc_preprocess_fullheart_rodero_01.py
  examples/preprocessor/doc_preprocess_truncated_LV.py
  examples/preprocessor_v0_2/doc_example_atrial_fiber_v0_2.py
  examples/preprocessor_v0_2/doc_preprocess_fullheart_rodero_01_v0_2.py
  examples/preprocessor_v0_2/doc_simulate_fullheart_rodero_01_v0_2_ep.py
  examples/simulator/doc_EP-mechanics_simulator_fullheart_rodero.py
  examples/simulator/doc_EP_simulator_FullHeart_rodero.py
  examples/simulator/doc_EP_simulator_fourchamber.py
  examples/simulator/doc_mechanics_simulator_fullheart_rodero_01.py
Labels: none

refact control volume writer
  ansys/heart/simulator/settings/defaults/mechanics.py
  ansys/heart/writer/dynawriter.py
Labels: none

refact system define function
  ansys/heart/calibration/ivc.py
  ansys/heart/writer/dynawriter.py
  ansys/heart/writer/system_models.py
Labels: none

FEAT: add methods for cavity meshing (#567)
  ansys/heart/preprocessor/mesh/mesher.py
  ansys/heart/preprocessor/models/v0_2/models.py
Labels: none

option to not set flow area
  ansys/heart/writer/dynawriter.py
Labels: none

chng zerop solution control
  ansys/heart/writer/dynawriter.py
Labels: none

chng main solution control
  ansys/heart/simulator/settings/defaults/mechanics.py
  ansys/heart/writer/dynawriter.py
Labels: none

fix: bump Fluent to R24.1 and PyFluent to 0.20
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  .github/workflows/tests-model-generation.yml
  ansys/heart/preprocessor/mesh/mesher.py
  pyproject.toml
Labels: maintenance, dependencies

debug: remove dynalib from tests
  pyproject.toml
Labels: maintenance, dependencies

debug: dynalib
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  .github/workflows/tests-model-generation.yml
Labels: maintenance

debug: docker
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  .github/workflows/tests-model-generation.yml
Labels: maintenance

debug: docker
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  .github/workflows/tests-model-generation.yml
Labels: maintenance

debug: rollback to 22.2
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  .github/workflows/tests-model-generation.yml
  ansys/heart/preprocessor/mesh/mesher.py
Labels: maintenance

debug
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

fix system model for 4C
  ansys/heart/writer/dynawriter.py
Labels: none

chng zerop BC
  ansys/heart/writer/dynawriter.py
Labels: none

debug
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

fix: style
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

fluent version
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

fluent version
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  .github/workflows/tests-model-generation.yml
Labels: maintenance

debug: try 23.3
  .github/workflows/tests-model-generation-v2-bv.yml
  .github/workflows/tests-model-generation-v2-fh.yml
  .github/workflows/tests-model-generation.yml
  ansys/heart/preprocessor/mesh/mesher.py
Labels: maintenance

debug: try 23.3
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none
