Repository ansys/pyansys-heart, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, dependencies

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.rst']
maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml']
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
dependencies:
- changed-files:
  - any-glob-to-any-file: 'pyproject.toml'

docs: fix vale
  doc/source/contributing.rst
  doc/source/user-guide/index.rst
Labels: documentation

ci: change python version for docbuild
  .github/workflows/ci_cd.yml
Labels: maintenance

docs: cleanup readme
  README.rst
Labels: documentation

docs: cleanup readme badge
  README.rst
Labels: documentation

docs: cleanup readme badge
  README.rst
Labels: documentation

fix: fix labeling for cases 12 and 14
  src/ansys/heart/preprocessor/database_labels_to_id.py
  src/ansys/heart/preprocessor/database_preprocessor.py
Labels: none

Update tests/heart/preprocessor/test_uhcwriter.py
  tests/heart/preprocessor/test_uhcwriter.py
Labels: none

Update tests/heart/preprocessor/test_uhcwriter.py
  tests/heart/preprocessor/test_uhcwriter.py
Labels: none
