Repository ansys/pyansys-heart, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing, dependencies

fix: consistent logger
  ansys/heart/calibration/active_calibration.py
  ansys/heart/calibration/ivc.py
  ansys/heart/core/__init__.py
  ansys/heart/core/logger.py
  ansys/heart/general.py
  ansys/heart/misc/downloader.py
  ansys/heart/postprocessor/SystemModelPost.py
  ansys/heart/postprocessor/aha17_strain.py
  ansys/heart/postprocessor/auto_process.py
  ansys/heart/postprocessor/deprecated_compute_volume.py
  ansys/heart/postprocessor/dpf_utils.py
  ansys/heart/preprocessor/helpers.py
  ansys/heart/preprocessor/mesh/connectivity.py
  ansys/heart/preprocessor/mesh/mesher.py
  ansys/heart/preprocessor/mesh/objects.py
  ansys/heart/preprocessor/mesh/vtkmethods.py
  ansys/heart/preprocessor/models/conduction_beam.py
  ansys/heart/preprocessor/models/v0_1/models.py
  ansys/heart/preprocessor/models/v0_2/database_preprocessor.py
  ansys/heart/preprocessor/models/v0_2/input.py
  ansys/heart/preprocessor/models/v0_2/models.py
  ansys/heart/simulator/settings/material/curve.py
  ansys/heart/simulator/settings/material/material.py
  ansys/heart/simulator/settings/settings.py
  ansys/heart/simulator/simulator.py
  ansys/heart/writer/dynawriter.py
  ansys/heart/writer/material_keywords.py
  tests/heart/test_logger.py
Labels: none

fix: disable to stdout, enable to file
  ansys/heart/core/__init__.py
Labels: none

FIX: consistent logger (#558)
  ansys/heart/calibration/active_calibration.py
  ansys/heart/calibration/ivc.py
  ansys/heart/core/__init__.py
  ansys/heart/core/logger.py
  ansys/heart/general.py
  ansys/heart/misc/downloader.py
  ansys/heart/postprocessor/SystemModelPost.py
  ansys/heart/postprocessor/aha17_strain.py
  ansys/heart/postprocessor/auto_process.py
  ansys/heart/postprocessor/deprecated_compute_volume.py
  ansys/heart/postprocessor/dpf_utils.py
  ansys/heart/preprocessor/helpers.py
  ansys/heart/preprocessor/mesh/connectivity.py
  ansys/heart/preprocessor/mesh/mesher.py
  ansys/heart/preprocessor/mesh/objects.py
  ansys/heart/preprocessor/mesh/vtkmethods.py
  ansys/heart/preprocessor/models/conduction_beam.py
  ansys/heart/preprocessor/models/v0_1/models.py
  ansys/heart/preprocessor/models/v0_2/database_preprocessor.py
  ansys/heart/preprocessor/models/v0_2/input.py
  ansys/heart/preprocessor/models/v0_2/models.py
  ansys/heart/simulator/settings/material/curve.py
  ansys/heart/simulator/settings/material/material.py
  ansys/heart/simulator/settings/settings.py
  ansys/heart/simulator/simulator.py
  ansys/heart/writer/dynawriter.py
  ansys/heart/writer/material_keywords.py
  tests/heart/test_logger.py
Labels: none

maint: bump version
  pyproject.toml
  tests/heart/test_logger.py
Labels: maintenance, dependencies

fix: update logger
  ansys/heart/simulator/support.py
Labels: none

update connections
  ansys/heart/preprocessor/models/conduction_beam.py
  ansys/heart/simulator/simulator.py
Labels: none

fix_beam_id_offset
  ansys/heart/writer/dynawriter.py
Labels: none

fix: minor
  README.rst
  ansys/heart/simulator/support.py
Labels: none

fix: debug
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

fix: debug
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

fix: debug
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

fix: debug
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

fix: debug
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

fix: debug
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

fix: debug
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

fix: debug version
  .github/workflows/tests-model-generation-v2-bv.yml
  ansys/heart/preprocessor/mesh/mesher.py
Labels: maintenance

fix: debug version
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

fix: debug rollback to 0.16 version of ansys-fluent-core
  pyproject.toml
Labels: maintenance, dependencies

feat: add method for cavity meshing
  ansys/heart/preprocessor/mesh/mesher.py
  ansys/heart/preprocessor/models/v0_2/models.py
Labels: none

feat: minor refactor
  ansys/heart/preprocessor/mesh/mesher.py
Labels: none

feat: add fluid mesh as independent attribute
  ansys/heart/preprocessor/models/v0_2/models.py
Labels: none

use partial function to expose Robin BC method
  ansys/heart/writer/dynawriter.py
Labels: none

add change for zerop writer
  ansys/heart/writer/dynawriter.py
Labels: none

add change to epmeca writer
  ansys/heart/writer/dynawriter.py
Labels: none

FIX: remove unused nodes (#550)
  ansys/heart/preprocessor/mesh/fluenthdf5.py
  ansys/heart/preprocessor/models/v0_2/models.py
  tests/heart/preprocessor/test_fluent_mesh_reader.py
Labels: none

feat: add checks and logger strings
  ansys/heart/preprocessor/models/v0_2/models.py
Labels: none

fix: logger
  tests/heart/test_logger.py
Labels: none

maint: cleanup vtkmethods and add deprecation warnings
  ansys/heart/postprocessor/exporter.py
  ansys/heart/preprocessor/mesh/objects.py
  ansys/heart/preprocessor/mesh/vtkmethods.py
  ansys/heart/preprocessor/models/v0_2/models.py
Labels: none

maint: use LOG instead of DeprecationWarning
  ansys/heart/preprocessor/mesh/vtkmethods.py
Labels: none

maint: style
  tests/heart/test_logger.py
Labels: none

maint: remove unused methods
  ansys/heart/preprocessor/mesh/geodisc.py
  ansys/heart/preprocessor/mesh/mesher.py
  ansys/heart/preprocessor/mesh/objects.py
Labels: none

maint: remove unused code
  ansys/heart/preprocessor/mesh/connectivity.py
Labels: none

maint: migrate preproc full heart to models v0.2
  doc/source/_static/images/full_heart_cavities.png
  doc/source/_static/images/full_heart_lv_endocardium.png
  doc/source/_static/images/full_heart_mesh.png
  examples/preprocessor/doc_preprocess_fullheart_rodero_01.py
Labels: none

maint: fix and simplify preproc and uhc examples
  doc/source/_static/images/four_chamber_cavities.png
  doc/source/_static/images/four_chamber_lv_endocardium.png
  doc/source/_static/images/four_chamber_mesh.png
  examples/preprocessor/doc_example_uhc.py
  examples/preprocessor/doc_preprocess_fourchamber.py
  examples/preprocessor/doc_preprocess_fullheart_rodero_01.py
Labels: none

hotfix: valve name of PR 547 was accidently reverted by PR 548
  ansys/heart/writer/dynawriter.py
Labels: none

check dpf environ variable
  ansys/heart/postprocessor/dpf_utils.py
Labels: none

minor
  ansys/heart/postprocessor/auto_process.py
  ansys/heart/preprocessor/models/v0_1/models.py
Labels: none

fix: modify to v0.2 and clean examples
  examples/preprocessor/doc_example_atrial_fiber.py
  examples/preprocessor/doc_preprocess_fourchamber.py
  examples/preprocessor/doc_preprocess_fullheart_rodero_01.py
Labels: none

maint: remove obsolete examples
  examples/preprocessor_v0_2/doc_example_atrial_fiber_v0_2.py
  examples/preprocessor_v0_2/doc_preprocess_fullheart_rodero_01_v0_2.py
Labels: none

add test for icvout
  ansys/heart/postprocessor/dpf_utils.py
  tests/heart/postprocessor/binout0000
  tests/heart/postprocessor/test_dpf.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/source/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.flake8/', 'pyproject.toml']
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
dependencies:
- changed-files:
  - any-glob-to-any-file: 'pyproject.toml'
