Repository ansys/pyansys-heart, pull requests merged in 2025-07, with the labels that each got.

#1162 fix: purkinje on ventricle base
  doc/source/changelog/1162.fixed.md
  src/ansys/health/heart/models.py
  src/ansys/health/heart/writer/base_writer.py
Labels: fix

#1164 fix: atrial ventricular isolation
  doc/source/changelog/1164.fixed.md
  src/ansys/health/heart/models.py
Labels: fix

#1171 ci: Migrate to DPF 25R2
  .github/workflows/ci_cd_main.yml
  .github/workflows/ci_cd_night.yml
  .github/workflows/ci_cd_pr.yml
  .github/workflows/ci_cd_release.yml
  doc/source/changelog/1171.maintenance.md
  src/ansys/health/heart/post/dpf_utils.py
  tests/heart/post/test_dpf.py
  tox.ini
Labels: ci, tests

#1148 refactor: refactor save/load model
  doc/source/changelog/1148.miscellaneous.md
  examples/preprocessor/compute-atrial-fibers_pr.py
  examples/preprocessor/demo-material_pr.py
  examples/preprocessor/user_conduction_system_pr.py
  examples/simulator/ep-mechanics-simulator-fullheart.py
  examples/simulator/ep-simulator-fullheart_rodero.py
  src/ansys/health/heart/data_examples/rodero_01_fullheart_1.5mm.namemap.json
  src/ansys/health/heart/data_examples/rodero_01_fullheart_1.5mm.partinfo.json
  src/ansys/health/heart/data_examples/rodero_01_fullheart_2.0mm.namemap.json
  src/ansys/health/heart/data_examples/rodero_01_fullheart_2.0mm.partinfo.json
  src/ansys/health/heart/models.py
  src/ansys/health/heart/models_utils.py
  src/ansys/health/heart/parts.py
  src/ansys/health/heart/post/strain_calculator.py
  src/ansys/health/heart/writer/base_writer.py
  src/ansys/health/heart/writer/laplace_writer.py
  tests/heart/assets/reference_models/strocchi2020/01/BiVentricle/k_files1/ElectroMechanicsDynaWriter/node_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/BiVentricle/k_files1/ElectroMechanicsDynaWriter/segment_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/BiVentricle/k_files1/ElectrophysiologyDynaWriter/node_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/BiVentricle/k_files1/ElectrophysiologyDynaWriter/segment_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/BiVentricle/k_files1/FiberGenerationDynaWriter/node_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/BiVentricle/k_files1/FiberGenerationDynaWriter/segment_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/BiVentricle/k_files1/MechanicsDynaWriter/node_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/BiVentricle/k_files1/MechanicsDynaWriter/segment_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/BiVentricle/k_files1/PurkinjeGenerationDynaWriter/node_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/BiVentricle/k_files1/PurkinjeGenerationDynaWriter/segment_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/BiVentricle/k_files1/ZeroPressureMechanicsDynaWriter/node_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/BiVentricle/k_files1/ZeroPressureMechanicsDynaWriter/segment_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/FourChamber/heart_model.partinfo.json
  tests/heart/assets/reference_models/strocchi2020/01/FullHeart/heart_model.partinfo.json
  tests/heart/assets/reference_models/strocchi2020/01/FullHeart/k_files1/ElectroMechanicsDynaWriter/node_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/FullHeart/k_files1/ElectroMechanicsDynaWriter/segment_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/FullHeart/k_files1/ElectrophysiologyDynaWriter/node_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/FullHeart/k_files1/ElectrophysiologyDynaWriter/segment_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/FullHeart/k_files1/FiberGenerationDynaWriter/node_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/FullHeart/k_files1/FiberGenerationDynaWriter/segment_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/FullHeart/k_files1/MechanicsDynaWriter/node_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/FullHeart/k_files1/MechanicsDynaWriter/segment_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/FullHeart/k_files1/PurkinjeGenerationDynaWriter/node_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/FullHeart/k_files1/PurkinjeGenerationDynaWriter/segment_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/FullHeart/k_files1/ZeroPressureMechanicsDynaWriter/node_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/FullHeart/k_files1/ZeroPressureMechanicsDynaWriter/segment_sets.k
  tests/heart/assets/reference_models/strocchi2020/01/stats_biventricle_v0-2.yml
  tests/heart/assets/reference_models/strocchi2020/01/stats_fullheart_v0-2.yml
  tests/heart/conftest.py
  tests/heart/post/test_postprocess.py
  tests/heart/pre/test_model_generation.py
  tests/heart/test_heart_model.py
  tests/heart/test_parts.py
  tests/heart/utils/test_landmarks.py
Labels: docs:examples, tests

#1175 docs: update prerequisites to include 2025 R2
  doc/source/changelog/1175.documentation.md
  doc/source/getting-started/prerequisites.rst
Labels: docs
