Repository ansys/pyansys-heart, pull requests merged in 2025-08, with the labels that each got.

#1188 feat: Support PIM for launching Fluent
  doc/source/changelog/1188.added.md
  src/ansys/health/heart/pre/mesher.py
  tests/heart/pre/test_mesher.py
Labels: enhancement, tests

#1194 refactor: improve unpacking tarball
  doc/source/changelog/1194.miscellaneous.md
  src/ansys/health/heart/utils/download.py
  tests/heart/utils/test_downloader.py
Labels: tests

#1197 refactor: replace exit by exceptions
  doc/source/changelog/1197.miscellaneous.md
  src/ansys/health/heart/exceptions.py
  src/ansys/health/heart/models.py
  src/ansys/health/heart/post/dpf_utils.py
  src/ansys/health/heart/post/laplace_post.py
  src/ansys/health/heart/post/system_model_post.py
  src/ansys/health/heart/settings/material/curve.py
  src/ansys/health/heart/settings/material/material.py
  src/ansys/health/heart/simulator.py
  src/ansys/health/heart/writer/laplace_writer.py
  src/ansys/health/heart/writer/mechanics_writer.py
  tests/heart/pre/test_model_generation.py
Labels: tests

#1195 refactor: improve calls to subprocess
  doc/source/changelog/1195.miscellaneous.md
  src/ansys/health/heart/exceptions.py
  src/ansys/health/heart/settings/settings.py
  tests/heart/settings/test_dyna_settings.py
  tests/heart/settings/test_settings.py
  tests/heart/simulator/test_simulator.py
Labels: tests

#1189 fix: Missing input files when Fluent is launched in PIM Mode
  .github/workflows/ci_cd_pr.yml
  doc/source/changelog/1189.fixed.md
  src/ansys/health/heart/pre/mesher.py
  tests/heart/pre/test_mesher.py
Labels: ci, tests, fix

#1202 feat: Add right atrium appendage landmarks for Rodero 2021 cases
  doc/source/changelog/1202.added.md
  examples/preprocessor/compute-atrial-fibers_pr.py
  examples/simulator/ep-mechanics-simulator-fullheart.py
  examples/simulator/ep-simulator-fullheart_rodero.py
  src/ansys/health/heart/pre/database_utils.py
Labels: enhancement, docs:examples

#1213 ci: add security jobs
  .github/workflows/ci_cd_pr.yml
  SECURITY.md
  doc/source/changelog/1213.maintenance.md
Labels: ci
